<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1>Extracting and Visualizing Stock Data</h1>
<h2>Description</h2>

Extracting essential data from a dataset and displaying it is a necessary part of data science; therefore individuals can make correct decisions based on the data. In this assignment, you will extract some stock data, you will then display this data in a graph.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Define a Function that Makes a Graph</li>
        <li>Question 1: Use yfinance to Extract Stock Data</li>
        <li>Question 2: Use Webscraping to Extract Tesla Revenue Data</li>
        <li>Question 3: Use yfinance to Extract Stock Data</li>
        <li>Question 4: Use Webscraping to Extract GME Revenue Data</li>
        <li>Question 5: Plot Tesla Stock Graph</li>
        <li>Question 6: Plot GameStop Stock Graph</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

In [3]:
!pip install yfinance==0.1.67
#!pip install pandas==1.3.3
#!pip install requests==2.26.0
!mamba install bs4==4.10.0 -y
#!pip install plotly==5.3.1

Requirement already satisfied: yfinance==0.1.67 in c:\programdata\anaconda3\lib\site-packages (0.1.67)
Requirement already satisfied: requests>=2.20 in c:\programdata\anaconda3\lib\site-packages (from yfinance==0.1.67) (2.26.0)
Requirement already satisfied: pandas>=0.24 in c:\programdata\anaconda3\lib\site-packages (from yfinance==0.1.67) (1.1.5)
Requirement already satisfied: multitasking>=0.0.7 in c:\programdata\anaconda3\lib\site-packages (from yfinance==0.1.67) (0.0.10)
Requirement already satisfied: numpy>=1.15 in c:\programdata\anaconda3\lib\site-packages (from yfinance==0.1.67) (1.19.5)
Requirement already satisfied: lxml>=4.5.1 in c:\programdata\anaconda3\lib\site-packages (from yfinance==0.1.67) (4.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24->yfinance==0.1.67) (2017.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24->yfinance==0.1.67) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.20->yfinance==0.1.67) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.20->yfinance==0.1.67) (1.26.8)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.20->yfinance==0.1.67) (2.5)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.20->yfinance==0.1.67) (2.0.12)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance==0.1.67) (1.10.0)

WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
'mamba' is not recognized as an internal or external command,
operable program or batch file.

In [4]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

AttributeError: module 'typing' has no attribute 'NoReturn'

## Define Graphing Function

In this section, we define the function `make_graph`. You don't have to know how the function works, you should only care about the inputs. It takes a dataframe with stock data (dataframe must contain Date and Close columns), a dataframe with revenue data (dataframe must contain Date and Revenue columns), and the name of the stock.

In [40]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

## Question 1: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is `TSLA`.

In [6]:
Tesla = yf.Ticker("TSLA")

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `tesla_data`. Set the `period` parameter to `max` so we get information for the maximum amount of time.

In [7]:
tesla_data = Tesla.history(period="max")
#tesla_data = pd.DataFrame(data)
tesla_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
2010-06-30,5.158000,6.084000,4.660000,4.766000,85935500,0,0.0
2010-07-01,5.000000,5.184000,4.054000,4.392000,41094000,0,0.0
2010-07-02,4.600000,4.620000,3.742000,3.840000,25699000,0,0.0
2010-07-06,4.000000,4.000000,3.166000,3.222000,34334500,0,0.0
...,...,...,...,...,...,...,...
2022-02-24,700.390015,802.479980,700.000000,800.770020,45107400,0,0.0
2022-02-25,809.229980,819.500000,782.400024,809.869995,25355900,0,0.0
2022-02-28,815.010010,876.859985,814.710022,870.429993,33002300,0,0.0
2022-03-01,869.679993,889.880005,853.780029,864.369995,24922300,0,0.0
2022-03-02,872.130005,886.479980,844.270020,879.890015,24825700,0,0.0

**Reset the index** using the `reset_index(inplace=True)` function on the tesla_data DataFrame and display the first five rows of the `tesla_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 1 to the results below.

In [8]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

        Date   Open   High    Low  Close    Volume  Dividends  Stock Splits
0 2010-06-29  3.800  5.000  3.508  4.778  93831500          0           0.0
1 2010-06-30  5.158  6.084  4.660  4.766  85935500          0           0.0
2 2010-07-01  5.000  5.184  4.054  4.392  41094000          0           0.0
3 2010-07-02  4.600  4.620  3.742  3.840  25699000          0           0.0
4 2010-07-06  4.000  4.000  3.166  3.222  34334500          0           0.0

## Question 2: Use Webscraping to Extract Tesla Revenue Data

Use the `requests` library to download the webpage [https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue](https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01). Save the text of the response as a variable named `html_data`.

In [9]:
url="https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01"
html_data=requests.get(url).text

Parse the html data using `beautiful_soup`.

In [10]:
soup=BeautifulSoup(html_data,"html.parser")

Using `BeautifulSoup` or the `read_html` function extract the table with `Tesla Quarterly Revenue` and store it into a dataframe named `tesla_revenue`. The dataframe should have columns `Date` and `Revenue`.

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

In [11]:
tables=soup.find_all("table")
tesla_revenue=pd.read_html(url,match="Tesla Quarterly Revenue",flavor="bs4")[0]
#tesla_revenue=pd.DataFrame(_revenue)
tesla_revenue.rename(columns = {'Tesla Quarterly Revenue(Millions of US $)':'Date','Tesla Quarterly Revenue(Millions of US $).1':'Revenue'}, inplace = True)
tesla_revenue

          Date  Revenue
0   2021-12-31  $17,719
1   2021-09-30  $13,757
2   2021-06-30  $11,958
3   2021-03-31  $10,389
4   2020-12-31  $10,744
5   2020-09-30   $8,771
6   2020-06-30   $6,036
7   2020-03-31   $5,985
8   2019-12-31   $7,384
9   2019-09-30   $6,303
10  2019-06-30   $6,350
11  2019-03-31   $4,541
12  2018-12-31   $7,226
13  2018-09-30   $6,824
14  2018-06-30   $4,002
15  2018-03-31   $3,409
16  2017-12-31   $3,288
17  2017-09-30   $2,985
18  2017-06-30   $2,790
19  2017-03-31   $2,696
20  2016-12-31   $2,285
21  2016-09-30   $2,298
22  2016-06-30   $1,270
23  2016-03-31   $1,147
24  2015-12-31   $1,214
25  2015-09-30     $937
26  2015-06-30     $955
27  2015-03-31     $940
28  2014-12-31     $957
29  2014-09-30     $852
30  2014-06-30     $769
31  2014-03-31     $621
32  2013-12-31     $615
33  2013-09-30     $431
34  2013-06-30     $405
35  2013-03-31     $562
36  2012-12-31     $306
37  2012-09-30      $50
38  2012-06-30      $27
39  2012-03-31      $30
40  2011-12-31      $39
41  2011-09-30      $58
42  2011-06-30      $58
43  2011-03-31      $49
44  2010-12-31      $36
45  2010-09-30      $31
46  2010-06-30      $28
47  2010-03-31      $21
48  2009-12-31      NaN
49  2009-09-30      $46
50  2009-06-30      $27

Execute the following line to remove the comma and dollar sign from the `Revenue` column.

In [12]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")

Execute the following lines to remove an null or empty strings in the Revenue column.

In [13]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

Display the last 5 row of the `tesla_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [14]:
tesla_revenue.tail()

          Date Revenue
45  2010-09-30      31
46  2010-06-30      28
47  2010-03-31      21
49  2009-09-30      46
50  2009-06-30      27

## Question 3: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is GameStop and its ticker symbol is `GME`.

In [15]:
GameStop = yf.Ticker("GME")

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `gme_data`. Set the `period` parameter to `max` so we get information for the maximum amount of time.

In [16]:
gme_data = GameStop.history(period="max")

**Reset the index** using the `reset_index(inplace=True)` function on the gme_data DataFrame and display the first five rows of the `gme_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 3 to the results below.

In [17]:
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13,6.480513,6.773399,6.413183,6.766666,19054000,0.0,0.0
1,2002-02-14,6.850830,6.864296,6.682505,6.733002,2755400,0.0,0.0
2,2002-02-15,6.733002,6.749834,6.632007,6.699337,2097400,0.0,0.0
3,2002-02-19,6.665670,6.665670,6.312188,6.430016,1852600,0.0,0.0
4,2002-02-20,6.463681,6.648839,6.413183,6.648839,1723200,0.0,0.0

## Question 4: Use Webscraping to Extract GME Revenue Data

Use the `requests` library to download the webpage [https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue](https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01). Save the text of the response as a variable named `html_data`.

In [18]:
url = "https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01"
html_data = requests.get(url).text

Parse the html data using `beautiful_soup`.

In [19]:
soup = BeautifulSoup(html_data,"html.parser")

Using `BeautifulSoup` or the `read_html` function extract the table with `GameStop Quarterly Revenue` and store it into a dataframe named `gme_revenue`. The dataframe should have columns `Date` and `Revenue`. Make sure the comma and dollar sign is removed from the `Revenue` column using a method similar to what you did in Question 2.

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

In [20]:
gme_revenue = pd.read_html(url,match="GameStop Quarterly Revenue",flavor="bs4")[0]
#gme_revenue = pd.DataFrame(gme_revenue)
gme_revenue.rename(columns={"GameStop Quarterly Revenue(Millions of US $)":"Date" , "GameStop Quarterly Revenue(Millions of US $).1":"Revenue"}, inplace=True)

Display the last five rows of the `gme_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [21]:
gme_revenue.tail()

          Date Revenue
47  2010-01-31  $3,524
48  2009-10-31  $1,835
49  2009-07-31  $1,739
50  2009-04-30  $1,981
51  2009-01-31  $3,492

## Question 5: Plot Tesla Stock Graph

Use the `make_graph` function to graph the Tesla Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(tesla_data, tesla_revenue, 'Tesla')`. Note the graph will only show data upto June 2021.

In [39]:
make_graph(tesla_data, tesla_revenue, 'Tesla')
#print(tesla_data)
#print(tesla_revenue)
#print(Tesla)

AttributeError: module 'typing' has no attribute 'NoReturn'

## Question 6: Plot GameStop Stock Graph

Use the `make_graph` function to graph the GameStop Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`. Note the graph will only show data upto June 2021.

In [43]:
make_graph(, gme_revenue, 'GameStop')

           Date        Open        High         Low       Close    Volume  \
0    2002-02-13    6.480513    6.773399    6.413183    6.766666  19054000
1    2002-02-14    6.850830    6.864296    6.682505    6.733002   2755400
2    2002-02-15    6.733002    6.749834    6.632007    6.699337   2097400
3    2002-02-19    6.665670    6.665670    6.312188    6.430016   1852600
4    2002-02-20    6.463681    6.648839    6.413183    6.648839   1723200
...         ...         ...         ...         ...         ...       ...
5043 2022-02-24  105.529999  125.709999  104.120003  124.580002   2256200
5044 2022-02-25  123.570000  124.970001  116.489998  118.580002   1710300
5045 2022-02-28  121.000000  126.290001  116.889999  123.339996   1612500
5046 2022-03-01  122.190002  125.870003  118.349998  119.019997   1096000
5047 2022-03-02  119.500000  122.669998  116.370003  121.970001   1310000

      Dividends  Stock Splits
0           0.0           0.0
1           0.0           0.0
2           0.0           0.0
3           0.0           0.0
4           0.0           0.0
...         ...           ...
5043        0.0           0.0
5044        0.0           0.0
5045        0.0           0.0
5046        0.0           0.0
5047        0.0           0.0

[5048 rows x 8 columns]
          Date Revenue
0   2021-10-31  $1,297
1   2021-07-31  $1,183
2   2021-04-30  $1,277
3   2021-01-31  $2,122
4   2020-10-31  $1,005
5   2020-07-31    $942
6   2020-04-30  $1,021
7   2020-01-31  $2,194
8   2019-10-31  $1,439
9   2019-07-31  $1,286
10  2019-04-30  $1,548
11  2019-01-31  $3,063
12  2018-10-31  $1,935
13  2018-07-31  $1,501
14  2018-04-30  $1,786
15  2018-01-31  $2,825
16  2017-10-31  $1,989
17  2017-07-31  $1,688
18  2017-04-30  $2,046
19  2017-01-31  $2,403
20  2016-10-31  $1,959
21  2016-07-31  $1,632
22  2016-04-30  $1,972
23  2016-01-31  $3,525
24  2015-10-31  $2,016
25  2015-07-31  $1,762
26  2015-04-30  $2,061
27  2015-01-31  $3,476
28  2014-10-31  $2,092
29  2014-07-31  $1,731
30  2014-04-30  $1,996
31  2014-01-31  $3,684
32  2013-10-31  $2,107
33  2013-07-31  $1,384
34  2013-04-30  $1,865
35  2013-01-31  $3,562
36  2012-10-31  $1,773
37  2012-07-31  $1,550
38  2012-04-30  $2,002
39  2012-01-31  $3,579
40  2011-10-31  $1,947
41  2011-07-31  $1,744
42  2011-04-30  $2,281
43  2011-01-31  $3,693
44  2010-10-31  $1,899
45  2010-07-31  $1,799
46  2010-04-30  $2,083
47  2010-01-31  $3,524
48  2009-10-31  $1,835
49  2009-07-31  $1,739
50  2009-04-30  $1,981
51  2009-01-31  $3,492

SyntaxError: invalid syntax (<ipython-input-36-6784f5b4add1>, line 2)

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

Azim Hirjani

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description        |
| ----------------- | ------- | ------------- | ------------------------- |
| 2020-11-10        | 1.1     | Malika Singla | Deleted the Optional part |
| 2020-08-27        | 1.0     | Malika Singla | Added lab to GitLab       |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

<p>